<table>
  <thead>
    <tr>
      <th>image</th>
      <th>name</th>
    </tr>
  </thead>
  <tbody>
    <% users.each do |user| %>
    <tr>
      <td><%= attachment_image_tag @user, :profile_image,:fill, 100, 100, format:'jpg' , fallback: "no-image.png",size:'40x40', class:"attachment user profile_image fallback" %> <br></td>

      <td><%= user.name %></td>
    </tr>
    <% end %>
  </tbody>
</table>
